

:root{

    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border:.1rem solid rgba(255,255,255,.3);

}


*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem ;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}


body{
    background: var(--bg);

}

section{
    padding: 2rem 7%;
}


.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .bilde img{
    height: 6rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}


.header .navbar a:hover{ 
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;

}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(Bilder/restaurant-sørenga.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;

}

.home .content h3{
font-size: 6rem;
text-transform: uppercase;    
color: #fff;

}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}


.home{
    background-position: left;
    justify-content: center;
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
}

.home .content p{
    font-size: 1.5rem;
}


@media (max-width:999px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }

}


